/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
    background-color: #92defc;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #454545;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin: 0 0 1em 0;
}
h2,
h3,
a {
	color: #454545;
}
h2,
h3 {
	margin: 0 0 .8em 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #454545;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #b1a7f0;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #b1a7f0;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.col {
	padding: 1em;
	background: #f7fdaf;
	border-radius: .35em;
	margin: 0 .5em .8em;
}
.main-footer {
	background: #f8b8b3;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
    width: 190px;
    border-radius: 50%;
}
.headline {
	margin-bottom: 0;
}
.discord {
    width: 25%;
    border-radius: 50%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
    }
    .main-header,
	.main-nav,
	.row,
    .col {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
	flex: 1;
    flex-direction: column;
    align-self: flex-start;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
    }
    .main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}